		<h1>Enter the following details</h1>
		</div>
		<div>
		<form method="POST" action="/signup">
			<label for="user">User Name</label>
			<input type="text" id="user" name="username"/><br><br>
			<label for="password">Password</label>
			<input type="password" id="pwd" name="password"/><br><br>
			<label for="re_password">Re-enter Password</label>
			<input type="password" id="re_password" name="re_password"/><br><br>									
			<label for="email">Email</label>
			<input type="text" id="email" name="email"/><br><br>
			<label for="iam">I am</label>
			<select id="iam" name="type">
				<option value="1">University</option>
				<option value="2" selected>Agent</option>
				<option value="4">Student</option>
			</select><br><br>		
			<input type="button"  id="submit" name="submit" value="Submit"/>										
		</form>
