<web-app version="2.4"
xmlns="http://java.sun.com/xml/ns/j2ee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

<servlet>
	<servlet-name>getAllStats</servlet-name>
	<servlet-class>com.spundhan.multwiple_admin.GetStatistics</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>getAllStats</servlet-name>
	<url-pattern>/s/getStatistics</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>getUsers</servlet-name>
	<servlet-class>com.spundhan.multwiple_admin.GetUsers</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>getUsers</servlet-name>
	<url-pattern>/s/getUsers</url-pattern>
</servlet-mapping>

<welcome-file-list>
	<welcome-file>/admin.html</welcome-file>
</welcome-file-list>

</web-app>
